.wrapper{
  margin-top: 20px;
  border: 1px solid #eee;
  border-radius: 5px;
}
.menu{
  li{
    border-bottom: 1px solid #eee;
    margin: 0!important;
    padding-right: 40px!important;
    padding-left: 0px!important;
  }

}
.item{
  padding-left: 24px;
  h5{
    font-size: 14px;
    color: inherit;
    font-weight: normal;
    overflow: hidden;
    width: 12em;
    text-overflow: ellipsis;
  }
}
.badge{
  position: absolute!important;
  left: 10px;
}
.addBtn{
  background: transparent;
  border:0;
  color: #09c;
  padding:5px 20px;
  width:100%;
  cursor: pointer;
}

.icon{
  position: absolute;
  display: none;
  right: 0;
  top: 0;
}
:global(.ant-menu-item-selected){
  h5{
    width: 9em;
  }
  .icon{
    display:  block;
  }
}
:global(.ant-menu-item:hover){
  h5{
    width: 9em;
  }
  .icon{
    display:  block;
  }
}
