<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=title%>接口文档</title>
  <link rel="stylesheet" href="/style/highlight/default.css">
  <link rel="stylesheet" href="/style/doc.css">
</head>
<body>
  <div class="doc-wrapper">
    <div class="doc-header">
      <div class="doc-header-left">
        <%=title%>
      </div>
      <ul class="doc-header-right">
        <li>
          <a href="http://moapi.yfyld.top/project/<%=id%>">管理平台</a>
        </li>
      </ul>
    </div>
    <div class="doc-content">
      <%-content%>
    </div>
  </div>
</body>
</html>
