.wrapper{
  background: #f7f7f7;
}
.header{
  height: 60px;
  line-height: 60px;
  background: #09c;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  padding: 0 25px;
}

.content{
   width: 1000px;
   height: 460px;
   margin: 50px auto 0;
   overflow: hidden;
}
.main{
  float: right;
  background: #fff;
  :global{
    .ant-form-item{
      margin-bottom: 35px;
    }
    .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab{
      width:199px;
      text-align: center;
      color: #09c;
      &-active{
        background: #09c;
        color: #fff;
      }
    }
  }

}
.footer{
  height: 100px;
  border-top: 1px solid #ddd;
  background: #fff;
  text-align: center;
  padding-top: 20px;
  line-height: 40px;
  color: #999;
}
